a {
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/*RESPONSIVE*/
@media (max-width: 991px) {
  .contact-form {
    margin-bottom: 30px;
  }
  .map-area {
    width: 100%;
    height: 400px;
  }
}

/* FOOTER */
footer {
  display:flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  border-top: 0.1rem solid #3e485c;    
}

footer ul {  
  display: flex;
  justify-content: end;
  list-style: none;
}

.fa-facebook {
color: #3b5998;
}
.fa-twitter {
color: #55acee;
}
.fa-instagram {
color: #ac2bac;
}
.fa-youtube {
color: #ed302f;
}

/* NAVIGATION BAR */
.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:active {  
    color: #ffc107;  
}

/* HAUKAI LOGO */
.haukai-logo {
  color:#B08400;
}

/* SPINNER */
.spinner-wrapper {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
}

.spinner-border {
height: 60px;
width: 60px;
}

/* VIDEO */
.embed-responsive iframe {
  width: 560px;
  height: 315px
}

/* CONTACT PAGE */
.contact-form {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 40px 30px;
}
.contact-form .btn {	
  padding: 10px 50px;
  letter-spacing: 2px;
}
.map-area {
  width: 600px;
  height: 465px;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.map-area iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.bi bi-search {
  position: relative;
}

/* LIGHT - DARK TOGGLE */
#lightSwitch {
  transform: scale(1.8);
}

.custom-theme.bg-light {
  background-color: darkslategray !important;
  border-radius: 3px;
  color: gainsboro;
  text-decoration: underline;
}

.custom-theme.bg-dark {
  background-color: blanchedalmond !important; 
  box-shadow: 10px 5px 5px rgba(246, 255, 219, 0.5);
  color: dimgray;  
  text-decoration: overline;
}

/* CALENDAR */
#hours-calendar {
  max-width: 1100px;
  margin: 40px auto;
}
#roster-calendar {
  max-width: 1100px; 
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -50px;
}

/* Button */
.btn-francesca {
  background-color: #59287a;
  border-color: #59287a;
  color: #fff;
}
/* RESERVATIONS PAGE */
.section {
  position: relative;
  height: 100vh;
}

.section .section-center {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

#booking {
  font-family: 'Montserrat', sans-serif;
  background-image: url('https://images.unsplash.com/photo-1496412705862-e0088f16f791?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80.png');
  background-size: cover;
  background-position: center;  
}

#booking::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: rgba(47, 103, 177, 0.6);
}

.booking-form {
  background-color: #fff;
  padding: 50px 20px;
  -webkit-box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

.booking-form .form-group {
  position: relative;
  margin-bottom: 30px;
}

.booking-form .form-control {
  background-color: #ebecee;
  border-radius: 4px;
  border: none;
  height: 40px;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #3e485c;
  font-size: 14px;
}

.booking-form .form-control::-webkit-input-placeholder {
  color: rgba(62, 72, 92, 0.3);
}

.booking-form .form-control:-ms-input-placeholder {
  color: rgba(62, 72, 92, 0.3);
}

.booking-form .form-control::placeholder {
  color: rgba(62, 72, 92, 0.3);
}

.booking-form input[type="date"].form-control:invalid {
  color: rgba(62, 72, 92, 0.3);
}

.booking-form select.form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.booking-form select.form-control+.select-arrow {
  position: absolute;
  right: 0px;
  bottom: 4px;
  width: 32px;
  line-height: 32px;
  height: 32px;
  text-align: center;
  pointer-events: none;
  color: rgba(62, 72, 92, 0.3);
  font-size: 14px;
}

.booking-form select.form-control+.select-arrow:after {
  content: '\279C';
  display: block;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.booking-form .form-label {
  display: inline-block;
  color: #3e485c;
  font-weight: 700;
  margin-bottom: 6px;
  margin-left: 7px;
}

.booking-form .submit-btn {
  display: inline-block;
  color: #fff;
  background-color: #1e62d8;
  font-weight: 700;
  padding: 14px 30px;
  border-radius: 4px;
  border: none;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.booking-form .submit-btn:hover,
.booking-form .submit-btn:focus {
  opacity: 0.9;
}

.booking-cta {
  margin-top: 80px;
  margin-bottom: 30px;
}

.booking-cta h2 {
  font-size: 52px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
}

.booking-cta p {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.8);
}

/* MENU PAGE */
.nav-pills .nav-item .active {
  border-bottom: 2px solid #ffc107;
}

.tab-content img {
  width: 80px;;
}

/* GIFT CARD PAGE */
.fas.fa-cart-shopping:hover {
  color: #ffc107 !important;
}

.card-title {
  color:#3e485c;
  font-weight: bold;  
}

